In [1]:
import pandas as pd
customer_data = pd.read_csv("https://download.data.world/s/5jl6yrklk6fpswmbwbp2og5wfe4erd?dws=00000")

In [2]:
#dropping columns
customer_data.drop("is_active_member",axis=1,inplace=True)
customer_data.drop("has_creditcard",axis=1,inplace=True)

In [3]:
# creating new invoice column and changing it to a string
customer_data["invoice_id"]=customer_data["invoice_id"].astype("string")
customer_data["branch"]=customer_data["branch"].astype("string")
customer_data["gender"]=customer_data["gender"].astype("string")
customer_data["customer_type"]=customer_data["customer_type"].astype("string")
customer_data["product_category"]=customer_data["product_category"].astype("string")
customer_data["customer_churn"]=customer_data["customer_churn"].astype("bool")

customer_data.head(10)

,row_number,invoice_id,branch,customer_id,gender,age,customer_type,credit_score,product_category,number_of_products,tax_amount,price,total_amount,ratings,customer_churn
0,1,655-07-2265,A,15681196,Male,35,Normal,629,Electronic accessories,3,11.7465,78.31,246.6765,5.4,False
1,2,689-05-1884,A,15809006,Male,23,Member,602,Health and beauty,10,24.3150,48.63,510.6150,8.8,False
2,3,883-17-4236,C,15749947,Female,44,Normal,665,Sports and travel,2,1.4390,14.39,30.2190,7.2,False
3,4,453-33-6436,A,15655590,Male,46,Normal,581,Home and lifestyle,8,37.2480,93.12,782.2080,6.8,False
4,5,250-17-5703,A,15624975,Male,28,Member,693,Food and beverages,10,9.4250,18.85,197.9250,5.6,False
5,6,583-41-4548,C,15776780,Male,59,Normal,608,Home and lifestyle,7,5.8345,16.67,122.5245,7.4,True
6,7,714-02-3114,C,15763218,Female,41,Normal,661,Sports and travel,2,9.8800,98.80,207.4800,7.7,False
7,8,826-58-8051,B,15620204,Female,57,Normal,543,Home and lifestyle,4,12.4380,62.19,261.1980,4.3,True
8,9,166-19-2553,A,15707189,Female,36,Member,667,Sports and travel,6,26.7180,89.06,561.0780,9.9,False
9,10,123-19-1176,A,15579892,Male,19,Member,708,Health and beauty,8,23.2880,58.22,489.0480,8.4,False

In [4]:
import sqlite3

con = sqlite3.connect("../database/customers.db")
cur = con.cursor()

customer_data.to_sql("customer_data",con,index=False)

rows = cur.execute("SELECT * FROM customer_data").fetchall()
rows

con.commit()
con.close()

In [6]:
rows[0]

(1,
 '655-07-2265',
 'A',
 15681196,
 'Male',
 35,
 'Normal',
 629,
 'Electronic accessories',
 3,
 11.7465,
 78.31,
 246.6765,
 5.4,
 0)